body,td,th {
	font-family: 新宋体;
	font-size: 12px;
	color: #333333;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/topbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.topbg {
	background-image: url(../images/toptp.jpg);
	background-repeat: no-repeat;
	background-position: left;
}
