BODY {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden; SCROLLBAR-HIGHLIGHT-COLOR: buttonface; CURSOR: url('images/index.ani'); SCROLLBAR-SHADOW-COLOR: buttonface; SCROLLBAR-3DLIGHT-COLOR: buttonhighlight; SCROLLBAR-TRACK-COLOR: #eeeeee; SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
A {
	FONT-SIZE: 12px; COLOR: #003399; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.css1 {
	FONT-SIZE: 12px; COLOR: #ff3300; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.css1:hover {
	FONT-SIZE: 12px; COLOR: #008000; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.css2 {
	FONT-SIZE: 12px; COLOR: #003399; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.css2:hover {
	FONT-SIZE: 12px; COLOR: #008000; LINE-HEIGHT: 150%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
.content {
	CURSOR: url('images/index.ani'); LINE-HEIGHT: 120%
}
.content2 {
	CURSOR: url('images/index.ani'); LINE-HEIGHT: 150%
}
.concss1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; CURSOR: url('images/index.ani'); PADDING-TOP: 5px
}
.concss2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; CURSOR: url('images/index.ani'); PADDING-TOP: 10px
}
.concss3 {
	PADDING-BOTTOM: 3px; CURSOR: url('images/index.ani'); PADDING-TOP: 3px
}
INPUT {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; CURSOR: url('images/index.ani'); BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; HEIGHT: 19px
}
INPUT.l1 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; FONT: menu; BORDER-LEFT: #999999 1px solid; CURSOR: url('images/index.ani'); BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; HEIGHT: 19px; BACKGROUND-COLOR: #ffffff
}
INPUT.l2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; CURSOR: url('images/index.ani'); BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
TEXTAREA.l1 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; CURSOR: url('images/index.ani'); BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: ו; BACKGROUND-COLOR: #ffffff
}
SELECT {
	FONT-SIZE: 12px; CURSOR: url('images/index.ani'); FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica
}
