@charset "utf-8";
/* CSS Document */
*{
	font-size:14px;
}
 v\:* { BEHAVIOR: url(#default#VML) }
 v\:textbox div{text-align:center;width:100%;white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;padding-left:3px;font-size:9pt}

