
BODY{
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY:  宋体;
	scrollbar-face-color: #ffffff;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #000000;
	scrollbar-3dlight-color: #000000;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #9999cc;
	scrollbar-darkshadow-color: #98AAB1;
}

.navPoint {
	FONT-SIZE: 13pt; CURSOR: hand; COLOR: white; FONT-FAMILY: "Webdings"
}

a:link  { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #006AAA;
	text-decoration : none;
}
a:active  { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #234669;
	text-decoration : underline;
}
a:visited  { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #234669;
	text-decoration : none;
}
a:hover   { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #339900;
	text-decoration : underline;
}


.talbetitle {
	font-size: 14px;
	font-weight: bold;
	color: #0073B7;
	font-family: "宋体";
}



a.menulink:link  { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #EF2B01;
	text-decoration : none;
	text-indent: 12pt;
}
a.menulink:active  {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #EF2B01;
	text-decoration : underline;
	text-indent: 12pt;

}
a.menulink:visited  { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #EF2B01;
	text-decoration : none;
	text-indent: 12pt;
}
a.menulink:hover   { 
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #0086FF;
	text-decoration : underline;
	text-indent: 12pt;
}






.menu1 {
	font-size: 12px;
	color: #1A004F;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	
}
.menu2 {
	font-size: 12px;
	color: #00388C;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-weight: normal;
	font-style: normal;

}

.content {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #000339;
	line-height: 22px;



}

.tablefield {
	font-size: 14px;
	color: #0150A7;
	font-family: "宋体";
	font-weight: 400;
	line-height: 26px;
	text-align: center;

	


}

td{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000339;
	line-height: 22px;



}

INPUT,select,Textarea {
 BORDER-RIGHT: #333333 1px solid; BORDER-TOP: 
 #333333 1px solid; FONT-SIZE: 9pt; 

}
input,select{
 font-size: 12px; line-height: 15px;
}
Textarea{
 font-size: 12px;
 line-height: 15px;
 background-color:#e0e8f0;
 background-image:url("inputbg.gif")
}


.topbg {
	background-image: url(../images/top.jpg);
}
.bottombg {
	background-image: url(../images/bottom2.jpg);
}
.menubg {
	background-image: url(../images/menubg.gif);
}
.contentbg {
	background-image: url(../images/contentbg.gif);
}
.tabletop {
	background-image: url(../images/border_r1_c2.gif);
}
.tableright {
	background-image: url(../images/border_r2_c4.gif);
}
.tableleft {
	background-image: url(../images/border_r2_c1.gif);
}
.tablebottom {
	background-image: url(../images/border_r3_c2.gif);
}
.fieldbg {
	background-image: url(title_bg.gif);
	

}


.tablestyle {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 26px;
	FONT-FAMILY: "宋体";
	width: 100%;
	margin: 1px;
	padding: 1px;
	color: #000339;
	background-position: center center;
	border-top: 1px outset #86C2FF;
	border-right: 3px outset #86C2FF;
	border-bottom: 3px outset #86C2FF;
	border-left: 1px outset #86C2FF;
	background-color: #B0D8FF;

	
	

		

}




.bottomword {
	font-size: 12px;
	color: #0058B0;

}




.topmenu {
	font-size: 12px;
	color: #D92600;
	text-indent: 16;

}

.blankmenu {
	BORDER-RIGHT: rgb(101,149,204) 1px solid; BORDER-TOP: rgb(101,149,204) 1px solid; FONT-SIZE: 13px; BACKGROUND: #f0f7ff; BORDER-LEFT: rgb(101,149,204) 1px solid; BORDER-BOTTOM: rgb(101,149,204) 1px solid
}
.tableline {
	background-color: #FFFFFF;
	cursor:hand;
}

.onlinestyle {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FFFFFF;
}
.tableborder{
	
	
  background-color: #FFD4AD;

}

.trstyle
{
	background-color: #FFFCED;
}
